*{
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0b1729;
}

.heading-title {
    margin-bottom: 6rem;
    position: relative;
} 
.heading-title:after{
    content: '';
    width: 200px;
    height: 1px;
    background-color: #46c7bb;
    position: absolute;
    left: 361px;
    top: 14px;
}

.title-text {
    color:#46c7bb;
    font-size:1.5rem;
}

.hexagon-container {
    display:flex;
}


#hexagon {
    width: 200px;
    height: 100px;
    background: #46c7bb;
    position: relative;
    margin: 2rem 1rem;
    transition: 0.8s;
}

#hexagon:hover{
  background-color: pink;
}

#hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #46c7bb;
    transition: 0.8s;
}

#hexagon:hover:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid pink;
}


#hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -50px;
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid #46c7bb;
    transition: 0.8s;
}

#hexagon:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -50px;
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid pink;;
}
.hex-text-align {
    display:flex;
    align-items: center;
    justify-content: center;
}

.skill-title {
    margin:0;
    padding: 0;
    font-size:1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.hide-hexagon {
    display: none;
}

.hexagon-container.hexa-marging {
    margin-top: 3rem;
}

.react {
    font-size:6rem;
}


@media (max-width:375px) and (min-width:0px){

    .title-text {font-size: 1rem;} 

    .heading-title:after {
        width: 39px;
        height: 2px;
        left: 237px;
        top: 10px;
    }

    #hexagon {
        width: 62px;
        height: 31px;
        margin: 0.5rem 0.8rem;
        background: #46c7bb;
    }

    .skill-title {
        font-size: 0.8rem;
    }

    #hexagon:hover {
        width: 62px;
        height: 31px;
        margin: 0.5rem 0.8rem;
        background-color: pink;
    }

    #hexagon:before {
        top: -18px;
        left: 0;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
        border-bottom: 18px solid #46c7bb;
    }

    #hexagon:hover:before {
        content: attr(data-hover);
        top: -18px;
        left: 0;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
        border-bottom: 18px solid pink;
    }

    #hexagon:after {
        bottom: -18px;
        left: 0;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
        border-top: 18px solid #46c7bb;
    }

    #hexagon:hover:after {
        content: attr(data-hover);
        bottom: -18px;
        left: 0;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
        border-top: 18px solid pink;
    }

}


@media (max-width:640px) and (min-width:361px){
   

}
